<%= render "header" %>
<div class="main_book_div">
  <div class="main_row2">
    <div class="dashboard">
      <div id="inner_dashboard">
        <div class="dashboard_head">
          <h6 id="dash_head">
            Dashboard
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              id="lens"
            >
              <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
              <path
                d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 384 512"
              id="book_mark"
            >
              <!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
              <path
                d="M384 48V512l-192-112L0 512V48C0 21.5 21.5 0 48 0h288C362.5 0 384 21.5 384 48z"
              />
            </svg>
          </h6>
        </div>
        <div class="dash_divs">
          <h6>Books</h6>
          35
          <div class="progress bar_border">
            <div class="progress-bar progress-bar-success bargraph" role="progressbar" aria-valuenow="40"
            aria-valuemin="0" aria-valuemax="100" style="width:35%;background-color: #b093f3;" class="progress_bar">
            </div>
          </div>
        </div>
        <div  class="dash_divs">
          <h6>Articles</h6>
          3
          <div class="progress bar_border">
            <div class="progress-bar progress-bar-success bargraph" role="progressbar" aria-valuenow="40"
            aria-valuemin="0" aria-valuemax="100" style="width:3%;background-color: #b093f3;"  class="progress_bar">
            </div>
          </div>
        </div>
        <div  class="dash_divs">
          <h6>Stories</h6>
          15
            <div class="progress bar_border">
                <div class="progress-bar progress-bar-success bargraph" role="progressbar" aria-valuenow="40"
                aria-valuemin="0" aria-valuemax="100" style="width:15%;background-color: #b093f3;" class="progress_bar">
                </div>
            </div>
        </div>
        <div  class="dash_divs">
          <h6>General Knowledge</h6>
          5
          <div class="progress bar_border">
            <div class="progress-bar progress-bar-success bargraph" role="progressbar" aria-valuenow="40"
            aria-valuemin="0" aria-valuemax="100" style="width:5%;background-color: #b093f3;animation: example 4s linear 0sf alternate;"  class="progress_bar">
            </div>
          </div>
        </div>
        <div  class="dash_divs">
          <h6>Tamil</h6>
          10
          <div class="progress bar_border">
            <div class="progress-bar progress-bar-success bargraph" role="progressbar" aria-valuenow="40"
            aria-valuemin="0" aria-valuemax="100" style="width:10%;background-color: #b093f3;" class="progress_bar">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="book_body">
        <div>
        <h1>Goodnight Stories</h1>
          <pre>This is a story book with 15 stories which is
               so good to hear while night before sleep</pre>
          <button>Review</button>
        </div>
        <div>
          <div id="circle_book_div"></div>
          <%= image_tag('A_Christmas_Carol.jpg',id:"logo", alt: "logoimg") %>
        </div>
    </div>
  </div>
</div>
